.admin-layout-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--white);
}

.admin-layout-container main{
    flex-grow: 1;
    background-color: var(--white);
    overflow-y: auto;
    display: flex;
}

.admin-layout-container footer{
    padding: 20px 0;
}